<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Predict Student Performance</title>
   <link rel="stylesheet" href="./static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/assets/css/styles.min.css'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="shortcut icon" href="./static/assets/img/logo.png" >
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#" style="width: 300px;text-align: center;">Predict Student Performance</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('home') }}">Back</a></li>
                </ul>
        </div>
        </div>
    </nav>
     <section class="clean-block clean-form dark" style="background: url('./static/assets/img/pillal4.jpg') left / cover no-repeat;height: 956px;padding: 0px;padding-bottom: 0px;font-size: 16.5px;">
        <div class="container">
            <h2 class="text-center" style="margin-top: 85px;height: 85px;margin-bottom: -10px;font-size: 30px;"><br />ACKNOWLEDGMENT<br /><br /></h2>
            <p class="text-center" style="font-size: 13.5px;line-height: 17px;border-style: none;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;height: 190px;background-color: #ffffff;"><br />This project is based on research paper:<br /><a href="http://www3.dsi.uminho.pt/pcortez/student.pdf">http://www3.dsi.uminho.pt/pcortez/student.pdf</a><br /><br />Dataset is available at:<br /><a href="https://archive.ics.uci.edu/ml/datasets/Student+Performance#">https://archive.ics.uci.edu/ml/datasets/Student</a><br
                /><a href="https://archive.ics.uci.edu/ml/datasets/Student+Performance#">+Performance#</a><br /><br />Github Repository : <br /><a href="https://studentperformanceanalyzer.herokuapp.com/acknowledgment#">will be updated soon.</a><br /></p>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./static/assets/img/mypic2.jpg" alt width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                        <h5 class="mb-0">Sricharan Vodnala</h5><span class="small text-uppercase text-muted">A Data Science Enthusiast</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://www.facebook.com/sricharanvodnala" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/urstruleycharan" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/sricharanvodnala/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/sricharan-vodnala-b13b96187/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/vodnalasricharan" class="social-link"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./static/assets/img/var1.jpg" alt width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                        <h5 class="mb-0">Varun Teja Jaladhula</h5><span class="small text-uppercase text-muted">A Data Science Enthusiast</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://www.facebook.com/varunteja.jaladula" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/varun2509" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/valiant_v.a.r.u.n/?hl=en" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jaladhula-varun-teja-b989a4181/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/varunofficial2509" class="social-link"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2020 Copyright Developed by : <a href="https://vodnalasricharan.github.io/">Sricharan</a> and <a href="https://varunofficial2509.github.io/">Varun Teja</a></p>
        </div>
    </footer>
    <!-- End: Footer Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="./static/assets/js/script.min.js"></script>
</body>

</html>
